<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
      <!-- 被代理对象 1-->
      <bean id="userInfoImpl" class="com.linfeng.service.UserInfoImpl"></bean>
      <!-- 前置通知2 -->
      <bean id="myMethodBeforeAdvice" class="com.linfeng.advice.MyMethodBeforeAdvice"></bean>
      <!-- 后置通知 2-->
      <bean  id="myMethodAfterAdvice" class="com.linfeng.advice.MyMethodAfterAdvice"></bean>
      <!-- 代理类 3-->
      <bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
      	<!-- 代理集合接口 -->
      	<property name="proxyInterfaces">
      	<list>
      		<value>com.linfeng.service.UserInfo</value>
      	</list>
      	</property>
      	<!-- 把通知织入到代理对象 -->
      	<property name="interceptorNames">
      		<!-- 相当于把前置通知和代理对象管连起来 -->
      		<list>
      		<value>myMethodBeforeAdvice</value>
      		<value>myMethodAfterAdvice</value>
      		</list>
      	</property>
      	<!-- 配置目标对象 -->
      	<property name="target" ref="userInfoImpl"></property>
      </bean>
</beans>
